<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <a href="/" class="navbar-brand text-warning">Guide Shop</a>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a
        class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
        href=""
        data-toggle="dropdown"
        >ระบบหลังบ้าน</a
      >
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/manage">จัดการสินค้า</a>
        <a class="dropdown-item" href="/add-product">บันทึกสินค้า</a>
        <a class="dropdown-item d-lg-none" href="/signin-form">Sign In</a>
      </div>
    </li>
    <div class="d-none d-lg-flex justify-items-end">
      <% if(typeof(user) =="undefined") { %>
      <a href="/signin-form" class="nav-link text-light">Sign In</a><% } else {
      %> <%- user.username %> <% } %>
    </div>
  </ul>
</nav>
